version: '3.8'
services:
  mariadb:
    container_name: mariadb
    image: bitnami/mariadb:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_DATABASE=bitnami
      - MARIADB_USER=user
      - MARIADB_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/bitnami/mariadb
  zookeeper:
    container_name: zookeeper
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka1:
    container_name: kafka1
    image: bitnami/kafka:latest
    ports: 
      - 9092:9092
    environment:
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://localhost:9092
      - KAFKA_CFG_LISTENERS=CLIENT://0.0.0.0:9092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_BROKER_ID=1
    depends_on:
      - zookeeper
  kafka2:
    container_name: kafka2
    image: bitnami/kafka:latest
    environment:
     - ALLOW_PLAINTEXT_LISTENER=yes
     - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
     - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT
     - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://localhost:9093
     - KAFKA_CFG_LISTENERS=CLIENT://0.0.0.0:9093
     - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
     - KAFKA_BROKER_ID=2
    ports: 
      - 9093:9093
    depends_on:
      - zookeeper
  # keydb:
  #  container_name: keydb
  #  image: eqalpha/keydb:latest
  #  ports: 
  #    - 6379:6379
  #  environment:
  #    - ALLOW_EMPTY_PASSWORD=yes
  #    - KEYDB_PASSWORD=password
  #  volumes:
  #    - keydb_data:/data/dump.rdb
  goapp:
    container_name: goapp
    image: ratindersingh/goapp:latest
    build:
      context: ../
      dockerfile: ../Dockerfile
volumes:
  mariadb_data:
    driver: local
  keydb_data:
    driver: local
  
